body
{
    color:  #FAC81C;
    background-color: black;
    background-image: url('https://vidcdn.123rf.com/450nwm/billbell1960/billbell19601406/billbell1960140600098.jpg');
    margin: 0;
}

h1,h2
{
    text-align: center;
    
}
h1
{
   
    font-size: 80px;
}

h2
{
    font-size: 50px;
}

div
{
    text-align: center;
    font-size: 45px;
     
}

.defil
{
    overflow: hidden;
    animation: defilement 90s;
    perspective: 500px;
}

#intro
{
    color: #135ee9;
    text-align: center;
    animation: disparition 90s;
    font-size: 50px;
}

@keyframes defilement 
{
    0% 
    {
      transform: translateY(0) rotateX(65deg);
    }
    100% 
    {
      transform: translateY(-100%) rotateX(65deg);
    }
}
@keyframes disparition 
{
    20%, 100% 
    {
      opacity: 0;
    }
   
}

img
{
    width: 200;
    height: auto;
}